.colorPickerList {
    margin: 0;
    padding: 0;
    list-style-type: none;

    width: 356px;
    border: 1px solid #b5bcc7;
    padding: 6px 0 6px 6px;
    overflow: hidden;
}

.colorPickerList li {
    float: left;
    border: 3px solid transparent;
}

.colorPickerList li:hover{
    border: 3px solid #b5bcc7;
}

.colorPickerList li.selectedColor {
    border: 3px solid #7cb5ec;
}

.colorPickerList li a {
    width: 54px;
    height: 54px;
    border: 5px solid white;
    display: block;
}

.colorPickerList li a span {
    position: absolute;
    margin: -100000px;
}